<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="dropdown.js"></script>
    <script src="script.js"></script>
  </header>

  <body>

    helloworld
	<img src = "https://media1.giphy.com/media/qW6s15nPVvuNO/200.gif">
	<img src = "https://media3.giphy.com/media/13k4VSc3ngLPUY/200.gif">
	<img src = "https://media0.giphy.com/media/tptfQTuhNy7cs/200.gif">
	<img src = "https://media0.giphy.com/media/M7gtacN7aPNsc/200.gif">
	<img src = "https://media3.giphy.com/media/bfNKVTSgiiMMg/200.gif">
	
	

  </body>

</html>
