<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="script.js"></script>
  </header>

  <body>

    <div class="jumbotron">
      <div id = "jtcontent">
        <h1>CLMapps</h1>
        <p>
          Find GIFs and songs based on your mood!
        </p>
        <p><a class="btn btn-primary btn-lg" href="popularplaces" role="button">See some examples</a></p>
      </div>
      <br>
      <div id = "searchcontent"><form action = "/results" method = "post">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" name = "search" placeholder="Enter your mood (i.e. sad, happy)" style = "width:250px">
            <br>
            <br>
            <center><img src = "http://dabuttonfactory.com/button.png?t=Go!&f=Arvo-Bold&ts=26&tc=fff&tshs=1&tshc=fff&hp=20&vp=8&c=5&bgt=two-colors&bgc=3d85c6&ebgc=073763" type="submit"></img></center>

          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </form></div>

    </div>




  </body>

</html>
