<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="dropdown.js"></script>
    <script src="script.js"></script>
  </header>

  <body>

    <div class="jumbotron">
      <div id = "jtcontent">
        <h1>CLMapps</h1>
        <p>
          Find GIFs and songs based on your mood!
        </p>
        <p><a class="btn btn-primary btn-lg" href="popularplaces" role="button">See some examples</a></p>
      </div>
      <br>
      <div id = "searchcontent"><form action = "/results" method = "post">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" name = "search" placeholder="Enter your mood (i.e. sad, happy)" style = "width:250px">
            <br>
            <br>
            <center><button type="submit">Go!</button></center>

          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </form></div>

    </div>

    <center><div class="categories">
      <h1> Can't think of a mood yourself? Explore one here:</h1>
      <br>
      <br>
      <button><a href = "/happy"> Happy </button>
      <br>
      <br>
      <button><a href = "/sad"> sad </button>
      <br>
      <br>
      <button><a href = "/surprised"> surprised </button>

    </div></center>




  </body>

</html>
