<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/sad.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="dropdown.js"></script>
    <script src="script.js"></script>
  </header>

  <body>
    <center><h1>You picked: Sad</h1></center>
    <br>
    <br>
    <center><h2>Here are some sad GIFs for you:</h2></center>
    <br>
    <br>
    <center><div id = "gifs">
      <img src = 'http://cdn.gifbay.com/2013/03/me_after_being_grounded-37176.gif'>
      <br>
      <br>
      <img src = 'https://media.giphy.com/media/zlNfhZYMEpdaE/giphy.gif'>
      <br>
      <br>
      <img src = 'http://38.media.tumblr.com/0d09a9d7a1c67bb93f2b3122b8310d24/tumblr_mjmdl1l2KP1rmqs69o1_500.gif'>
      <br>
      <br>
      <img src = 'https://media.giphy.com/media/irPxRRzMTMFd6/giphy.gif'>
      <br>
      <br>
      <img src = 'https://media.giphy.com/media/VPhQn6nwtQqvC/giphy.gif'>
    </div></center>




  </body>

</html>
