<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/sad.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="dropdown.js"></script>
    <script src="script.js"></script>
  </header>

  <body>
    <center><h1>You picked: Sad</h1></center>
    <br>
    <center><h2>Here are some sad GIFs for you:</h2></center>
    <br>
    <br>
    <center><div id = "gifs">
      <img src = 'http://cdn.gifbay.com/2013/03/me_after_being_grounded-37176.gif' style = "height: 225px; width: 400px">
      <br>
      <br>
      <img src = 'https://media.giphy.com/media/14iZJ2agTAAb6w/giphy.gif' style = "height: 225px; width: 400px">
      <br>
      <br>
      <img src = 'https://media.giphy.com/media/GyNeHf5IrpQNG/giphy.gif' style = "height: 225px; width: 400px">
      <br>
      <br>
      <img src = 'http://38.media.tumblr.com/0d09a9d7a1c67bb93f2b3122b8310d24/tumblr_mjmdl1l2KP1rmqs69o1_500.gif' style = "height: 225px; width: 400px">
      <br>
      <br>
      <img src = 'https://media.giphy.com/media/irPxRRzMTMFd6/giphy.gif' style = "height: 225px; width: 400px">
    </div></center>

    <div id = "happysongs">
      <iframe width="400" height="215" src="https://www.youtube.com/embed/rQD9EBCwlQc" frameborder="0" allowfullscreen></iframe>
    </div>


    <form type = "get" action = "/">
      <button id = "homebutton">Take me home!</button>
    </form>




  </body>

</html>
